.App {
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

html {
  background-color: white; 
  text-align: center;
  font-family: "Just Another Hand";
}

h3 {
  font-size: 40px;
  color: #006699;
  padding: 30px;
  padding-bottom: 0px;
  margin: auto;
  text-align: center;
}

p {
  line-height: 100%;
  color: black;
  font-size: 20px;
}

.carousel .thumb img {
  width: 100% !important;
  height: 100% !important;
}

.slider-item-div {
  padding: 20px;
  background-color: white;
  text-align: center;
  height: 100%;
  width: 100%;
}

.carousel-style {
  height: 100% !important;
}
.carousel .slide img {
  max-height: 500px;
  max-width: 500px;
  height: auto;
  width: auto;
  display:inline-block;
}

.tabHeader {
  border-bottom: 1px solid #006699;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center;
  padding: 20px;
}

button {
  font-family: "Just Another Hand";
  font-size: 40px;
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 2px;
}

button:hover {
  color:#006699;
  background-color: white;
  padding: 2px;
}

label {
  font-size: 40px;
  color: black;
  margin: 20px;
  min-height: 30px;
  min-width: 100px;
}

p {
  font-size: 40px;
}

.tabContent {
  font-family: "Just Another Hand";
  text-align: center;
  max-width: 80%;
  padding: 20px;
  border: none;
  margin: auto;
  border-top: none;
  background-color: white; 
}